.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width:420px) {
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .row{
    width: 90%
  }
  .row::after{
    display: none;
  }
  img{
    height: 130px;
  }
  
  #lezioni img,
  #steps img{
    margin-top: 30px;
  }


  /*blocco lezioni */

  #lezioni,
  #why{
    background-color: #F2F2CD;
  }
  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 100%; /*sovrascrive la regola alla riga 11 -> width:50%*/
    /* padding: 0px 10px; */
  }


  /* blocco steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {

    float: none;
    width: 100%;
  }
  /* blocco why ??????? */
  #why .row > .first, #why .row > .second, #why .row > .third {
      /* margin-top: 80px; */
      margin-top: 25px;
    }
}

@media screen and (min-width:421px) and (max-width:768px) {
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .row{
    width: 90%;
  }
  .row::after{
    display: none;
  }
  img{
    height: 170px;
  }
  /* blocco lezioni */
  #lezioni .right,
  #lezioni .left{
    margin: 20px 0;
  }
  /* blocco steps */
  #steps .row > .left, #steps .row > .central, #steps .row > .right {
    float: none;
    width: 45%;
    margin-top: 20px;
  }

  #steps .left ,
  #steps .central{
    display: inline-block;
  }
  #steps .right{
    margin: 0 auto;
    width: 55%;
  }
 

  /* blocco why ???? */
  #why .row > div.first, 
  #why .row > div.second,
  #why .row > div.third {
    margin-top: 40px;
    
  }
}